body {
    background-image:url("./img/space.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding: 0;
    margin:0;

}

.key{
    height: 100vh;
    min-width: 30vw;
    color:aliceblue;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/sat.jpg");
    background-size: cover;
    margin-left: 0;
}