@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
}

body {
    background-image:url("./img/starz.jpg");
    background-size: 100vh, 50vw;
    display: flex;
    align-items: center;
    margin:0;
}

.wrapper {
    flex: 1;
    display: flex;
}


.panel {
    background-color: #072f47;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: .6;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

sl-icon {

}