body {
    background-image:url("space.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.globe {
}

.globeimg {
    width: 400px;
    height: 400px;
}